/*
 * Shared configuration for ATAC-seq and scRNA-seq pipelines
 */

singularity {
    cacheDir = "${launchDir}/../singularity_cache"
}

process {
    // Common SLURM settings
    executor       = 'slurm'
    clusterOptions = "--partition=kingspeak-shared --qos=kingspeak --account=vetter -o slurmjob-%j.out-%N -e slurmjob-%j.err-%N"
    maxRetries     = 3
    // Continues running regardless of number of process failures. Long running processes can finish.
    maxErrors      = -1
    // Only resource errors retry, up to maxRetries. 'finish' in place of 'ignore' would halt pipeline after retries.
    errorStrategy  = { task.exitStatus in [9, 137, 138, 139, 140, 143, 247] && task.attempt <= task.maxRetries ? 'retry' : 'ignore' }
    cache          = 'lenient'
    
    // Default resource settings, scaling with retries
    memory = { 4.GB * task.attempt }
    cpus = { 1 * task.attempt }
    time = { 2.h * task.attempt }

     resourceLimits = [memory: 250.GB]

    // Run minimal processes locally
    withName: 'make_sample_table' {
        executor = 'local'
        memory = 1.GB
        cpus = 1
    }
    
    // Common process settings
    withName: get_fastq {
    	memory = { 8.GB * task.attempt }
    	cpus = { 2 * task.attempt }
    	time = { 4.h * task.attempt }
    }   
}