// Include shared configuration
includeConfig '../shared.config'

params {
    cellRanger_transcriptome = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/GRCm39/10x_star/refdata-gex-GRCm39-2024-A"
}

process {
    // scRNA-seq specific setting
    beforeScript = 'module load singularity'
    
    // scRNA-seq specific process settings
    withName: 'run_cellranger|run_velocyto' {
        memory = { 32.GB + ((task.attempt - 1) * 16.GB) }
        cpus = { 4 * task.attempt }
	time = { 12.h * task.attempt }
    }
    
    withName: seurat_markdown {
        memory = { 16.GB + ((task.attempt - 1) * 16.GB) }
        cpus = { 2 * task.attempt }

    }
}