process {
    	executor='local'
    	publishDir='.'
    	cache=true
	NXF_DEFAULT_DSL=2
}
params{
	// cellRanger_transcriptome = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Combined/10X/mm10_Tdtomato_GFP_flpO_Cre"
	cellRanger_transcriptome = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/GRCm39/10x_star/refdata-gex-GRCm39-2024-A"
	cellRanger_genes = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/GRCm39/10x_star/refdata-gex-GRCm39-2024-A/genes/genes.gtf.gz"
}