params {
    cellRanger_transcriptome = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/GRCm39/10x_star/refdata-gex-GRCm39-2024-A"
}

process {
    executor       = 'slurm'
    clusterOptions  = "--partition=kingspeak-shared --qos=kingspeak --account=vetter -o slurmjob-%j.out-%N -e slurmjob-%j.err-%N"
    maxRetries     = 3
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'finish' }
    cache          = 'lenient'
    beforeScript = 'module load singularity'
    
    memory = 8.GB  // Default memory for all processes
    cpus = 2       // Default CPUs for all processes
    
    resourceLimits = [memory: 250.GB]
    
    // Process-specific memory allocation
    withName: run_cellranger {
        memory = { 58.GB + ((task.attempt - 1) * 16.GB) }
        cpus = 16
    }
    
    withName: seurat_markdown {
        memory = { 58.GB + ((task.attempt - 1) * 16.GB) }
        cpus = 16
    }
    
    withName: run_velocyto {
        memory = { 16.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 16
    }
    
    withName: decompress {
        memory = { 16.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 4
    }
}
