// lower memory requests for miniaturize = true

params {
    genome_blacklist = "${projectDir}/../refs/mm39.excluderanges.bed"
    database = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/GRCm39/release112"
    transcriptome_index = "${params.database}/star50"
    rsem_index = "${params.database}/rsem/RSEM"
    gene_models = "${params.database}/*gtf"
    fastq_screen = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/app/fastq_screen/v0.14.0/fastq_screen"
    fastq_screen_config = "${projectDir}/bin/fastqscreen.conf"
}

singularity {
    enabled = true
}

//env {
//    NXF_SINGULARITY_CACHEDIR = "./work/singularity"
//}

process {
    executor       = 'local'
    clusterOptions  = "--partition=kingspeak-shared --qos=kingspeak --account=vetter -o slurmjob-%j.out-%N -e slurmjob-%j.err-%N"
    maxRetries     = 1
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'finish' }
    cache          = 'lenient'
    
    memory = 1.GB  // Default memory for all processes
    cpus = 1       // Default CPUs for all processes
    
    resourceLimits = [memory: 50.GB]
    
    withName: 'adapter_trim|merge_run_bams' {
        memory = { 2.GB + ((task.attempt - 1) * 2.GB) }
        cpus = 1
    }
    
    withName: filter_bams {
        memory = { 2.GB + ((task.attempt - 1) * 2.GB) }
        cpus = 1
    }
    
    withName: star_align {
        memory = { 2.GB + ((task.attempt - 1) * 2.GB) }
        cpus = 1
    }
    // Common process settings
    withName: 'get_fastq|decompress|miniaturize' {
        memory = { 4.GB + ((task.attempt - 1) * 2.GB) }
        cpus = 2
    }
    
    // Load singularity module
    beforeScript = 'module load singularity'
    
}