// Include shared configuration
includeConfig '../shared.config'

params {
    genome_blacklist = "${projectDir}/../refs/mm39.excluderanges.bed"
    database = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/GRCm39/release112"
    transcriptome_index = "${params.database}/star50"
    rsem_index = "${params.database}/rsem/RSEM"
    gene_models = "${params.database}/*gtf"
    fastq_screen = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/app/fastq_screen/v0.14.0/fastq_screen"
    fastq_screen_config = "${projectDir}/bin/fastqscreen.conf"
}

singularity {
    enabled = true
}

process {
    // bulkRNA-seq specific process settings
    withName: 'extract_umi|dedup_umi' {
        memory = { 16.GB + ((task.attempt - 1) * 16.GB) }
    	cpus = 1
    	time = { 6.h * task.attempt }
    }
    withName: 'adapter_trim' {
        memory = { 16.GB + ((task.attempt - 1) * 16.GB) }
    	cpus = { 2 * task.attempt }
    	time = { 4.h * task.attempt }
    }
    withName: star_align {
        memory = { 32.GB + ((task.attempt - 1) * 16.GB) }
    	cpus = { 2 * task.attempt }
    	time = { 8.h * task.attempt }
    }
    withName: 'filter_bams|merge_run_bams' {
        memory = { 48.GB + ((task.attempt - 1) * 16.GB) }
    	cpus = { 2 * task.attempt }
    	time = { 6.h * task.attempt }
    }

    
    // Load singularity module only for container processes
    beforeScript = 'module load singularity'
}

executor {
    queueSize       = 100
    submitRateLimit = '20 sec'
    singularity.pullTimeout = "1h"
}