// Include shared configuration
includeConfig '../shared.config'

params {
    genome_blacklist = "${projectDir}/../refs/mm39.excluderanges.bed"
    genome_index = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/Mm39/mm39"
}

process {
    // ATAC-seq specific process settings
    withName: bowtie_align {
        memory = { 32.GB + ((task.attempt - 1) * 16.GB) }
    	cpus = { 2 * task.attempt }
    	time = { 8.h * task.attempt }
    }
    
    withName: 'adapter_trim|filter_bams' {
        memory = { 16.GB + ((task.attempt - 1) * 16.GB) }
    	cpus = { 2 * task.attempt }
    	time = { 4.h * task.attempt }
    }

    withName: 'create_multimacs_run' {
        executor = 'local'
        memory = 1.GB
        cpus = 1
    }
}