params {
    genome_blacklist = "${projectDir}/../refs/mm39.excluderanges.bed"
    genome_index = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/Mm39/mm39"
}

process {
    executor       = 'slurm'
    clusterOptions  = "--partition=kingspeak-shared --qos=kingspeak --account=vetter -o slurmjob-%j.out-%N -e slurmjob-%j.err-%N"
    maxRetries     = 1
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'finish' }
    cache          = 'lenient'
    
    memory = 8.GB  // Default memory for all processes
    cpus = 2       // Default CPUs for all processes
    
    resourceLimits = [memory: 250.GB]
    
    
    // Dynamic memory allocation for bowtie_align
    withName: bowtie_align {
        memory = { 32.GB + ((task.attempt - 1) * 16.GB) }
        cpus = 8
    }
    
    // Memory allocation for memory-intensive processes
    withName: get_fastq {
        memory = { 8.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 8
    }

    withName: adapter_trim {
        memory = { 8.GB + ((task.attempt - 1) * 2.GB) }
        cpus = 4
    }
    
    withName: filter_bams {
        memory = { 32.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 8
    }
    
    withName: decompress {
        memory = { 16.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 4
    }

    // Run minimal processes locally
    withName: 'make_sample_table|create_multimacs_run' {
        executor       = 'local'
        memory = 1.GB
        cpus = 1
    }
        
}
