params {
    genome_blacklist = "${projectDir}/../refs/mm39.excluderanges.bed"
    genome_index = "/uufs/chpc.utah.edu/common/home/hcibcore/atlatl/data/Mouse/Mm39/mm39"
}

process {
    executor       = 'slurm'
    clusterOptions  = "--partition=kingspeak-shared --qos=kingspeak --account=vetter -o slurmjob-%j.out-%N -e slurmjob-%j.err-%N"
    maxRetries     = 3
    errorStrategy  = { task.attempt <= 3 ? 'retry' : 'finish' }
    cache          = 'lenient'
    
    memory = 8.GB  // Default memory for all processes
    cpus = 2       // Default CPUs for all processes
    
    resourceLimits = [memory: 250.GB]
    
    
    // Dynamic memory allocation for bowtie_align
    withName: bowtie_align {
        memory = { 
            def base_mem = 58.GB
            base_mem + ((task.attempt - 1) * 32.GB)
        }
        cpus = 16
    }
    
    // Memory allocation for memory-intensive processes
    withName: get_fastq {
        memory = { 16.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 8
        clusterOptions = "--ntasks=8"
    }

    withName: adapter_trim {
        memory = { 8.GB + ((task.attempt - 1) * 2.GB) }
        cpus = 4
    }
    
    withName: filter_bams {
        memory = { 58.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 8
    }
    
    withName: decompress {
        memory = { 16.GB + ((task.attempt - 1) * 8.GB) }
        cpus = 4
    }
        
}
